@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <div class="brand_logo_container">
        <img src="/img/imagen trespinos.jpg" class="brand_logo" alt="Logo">
    </div>
   
</div>

