@model RomaF5.Models.Proveedor

@{
    ViewData["Title"] = "Cambiar Precio";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<h2>Cambiar Precio de Productos de @Model.Nombre</h2>

<form asp-action="CambiarPrecio" method="post">
    <div class="form-group">
        <label for="precio">Porcentaje de Cambio precio:</label>
        <input type="number" class="form-control" id="precio" name="precio" required>
    </div>   
    <button type="submit" class="btn btn-primary">Aplicar Cambio</button>
    <a asp-action="Index" class="btn btn-secondary">Cancelar</a>
</form>
